<div class="container-fluid">
        <!-- ATENÇÃO - substituir trecho entre chaves [] com valor correspondente -->
        <h4>Relação de processos publicados em dezembro de 2020</h4>
        <div class="panel-group" id="accordion">
            <!-- painel da sessão / guia -->
            <div class="panel panel-default">
                    <div class="panel-heading" id="heading4">
                        <h3 class="panel-title"><a class="collapsed" href="#collapse2502" data-toggle="collapse"
                                data-parent="#accordion">SESSÃO
                                337ª | GUIA 20000020102</a></h3>
                    </div>
                    <!-- painel colapsado - adicionar classe in para deixar expandido -->
                    <div class="panel-collapse collapse in" id="collapse2502">
                        <div class="panel-body">
                            <!-- Relação de processos -->
                            <table style="height:15px" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Processo</th>
                                        <th>Recorrente</th>
                                        <th>Advogado</th>
                                        <th>Relator</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                                    <tr>
                                        <td><a href="http://bit.ly/2TLKqM5" target="_blank">25001001160008236</a></td>
                                        <td>B2W - COMPANHIA GLOBAL DO VAREJO</td>
                                        <td>-</td>
                                        <td>EMMANUEL ARANTES LIMA SILVA</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                            colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
            </div>
            <!-- Guia seguinte -->
            <br>
        </div>
</div>