<div class="container-fluid">
    <!-- ATENÇÃO - substituir trecho entre chaves [] com valor correspondente -->
    <h4>Relação de processos publicados em dezembro de 2019</h4>
    <div class="panel-group" id="accordion">
        <!-- painel da sessão / guia -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse3411" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 341º | 20000020107</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse in" id="collapse3411">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2RvG4qM" target="_blank">25001001170015078</a></td>
                                <td>APPLE COMPUTER BRASIL LTDA</td>
                                <td>-</td>
                                <td>>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2GsONne" target="_blank">25001001180000990</a></td>
                                <td>SIDNEYMAR FINS FEREIRA DA SILVA</td>
                                <td>-</td>
                                <td>>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2U0PDQk" target="_blank">25001001180000035</a></td>
                                <td>MOTOROLA MOBILITY COMERCIO DE PRODUTOS ELETRONICOS</td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36yGAIO" target="_blank">25001001170012278</a></td>
                                <td>RODOLFO MOTO PEÇAS</td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2GpxHqf" target="_blank">25001001170011962</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA</td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2O1g30v" target="_blank">25001001160009259</a></td>
                                <td>ATACADÃO DOS ELETRODOMÉSTICOS DO NORDESTE</td>
                                <td>-</td>
                                <td> FERNANDO LIMA DE OLIVEIRA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36B17N7" target="_blank">25001001160006713</a></td>
                                <td> N CLAUDINO & CIA LTDA</td>
                                <td>-</td>
                                <td> FERNANDO LIMA DE OLIVEIRA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2RUgbjf" target="_blank"> 25001001130004697</a></td>
                                <td>BOMPREÇO SUPERMERCADOS DO NORDESTE LTDA</td>
                                <td>-</td>
                                <td> FERNANDO LIMA DE OLIVEIRA</td>
                            </tr>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse341" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 341º | 20000020082</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse341">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2NXg4Cz" target="_blank">25001001170015078</a></td>
                                <td>ITAU UNIBANCO S.A LUIZA CRED S.A. SOCIEDADE DE CREDITO, FINANCIAMENTO E INVESTIMENTO
                                </td>
                                <td>-</td>
                                <td>>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>

                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse3391" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 339º | 20000020180</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse3391">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2RuVWtr" target="_blank"></a>25001007160007654</td>
                                <td>BLUE SYSTEM INFOR. LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/3aWfVt0" target="_blank">25001006150009528</a></td>
                                <td>CITA MOVEIS PLANEJADOS</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2O1MAUb" target="_blank">25001001180005875</a></td>
                                <td>ABASTECA COM. COMBUSTIVEIS LTDA </td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2RS1Yn8" target="_blank">25001001170012402</a></td>
                                <td>M. DE C. ALMEIDA COM. IMPORTAÇÃO EIRELI-ME</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2RtKCxU" target="_blank">25001001170011843</a></td>
                                <td>ENERGIA S.A</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2sY3s6K" target="_blank">25001001170011698</a></td>
                                <td>BELA IMAGEM STUDIOS FOTOGRAFICOS LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2RzoRwR" target="_blank">25001001170002285</a></td>
                                <td>SABEMI PREV. PRIVADA</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2RtLCCa" target="_blank">25001001160011406</a></td>
                                <td>CEBRAC CENTRO BRAS. CURSOS</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/37xC8eM" target="_blank">25001001160008930</a></td>
                                <td>ASPEC SOC. PARA. EDU. E CULTURA</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2U7fKVP" target="_blank">25001001160006314</a></td>
                                <td>LOJA ESPLANADA</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse339" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 339º | 20000020107</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse339">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="" target="_blank">25001001170007724</a></td>
                                <td>FGN COMÉRCIO DE MOTOS E NÁUTICA LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="" target="_blank">25001001170005184</a></td>
                                <td>KACLECY BRITO DA SILVA</td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2U71dsS" target="_blank">25001001160011117</a></td>
                                <td>FRANCISCO JOAO XAVIER </td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36B4js5" target="_blank">25001006160001225</a></td>
                                <td>SEBASTIANA GOMES DE ARAÚJO </td>
                                <td>-</td>
                                <td>SÉRGIO J. S. FALCÃO </td>
                            </tr>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse337" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 337º | 20000020180</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse337">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/3aJ4a94" target="_blank">25001009160006259</a></td>
                                <td>CIL COM. DE INFOR. LTDA / NTA - NEW TECHNICAL ASSIT. S.C.I.E. LTDA / DELL COMP. BRASIL LTDA</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2U1YHEy" target="_blank">25001001170010090</a></td>
                                <td>BANCO PANAMERICANO</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2O1lMTK" target="_blank">25001001170007547</a></td>
                                <td>EBANX</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/37xEfiI" target="_blank">25001001170002242</a></td>
                                <td>SABEMI PREVIDÊNCIA PRIVADA</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/36phUT6" target="_blank">25001001170001090</a></td>
                                <td>MAGAZINE LUIZA S/A PLUS BEL COM. IMPORT. E EXPORT. LTDA</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/38IlWaD" target="_blank">25001001160010053</a></td>
                                <td>POLISHOP E REPRESENTAÇÕES LTDA / SEGURADORA ZURICH</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/36vD81x" target="_blank">25001001150005980</a></td>
                                <td>SAMSNG ELETRÔNICA DA AMAZÔNIA / GLOBAL EXPRESS / WMG COM. ELETRO.</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="" target="_blank">25001001140002075</a></td>
                                <td>HEWLETT-PACKARD / INFORCELL / SMS / INFOCOMM</td>
                                <td>-</td>
                                <td>FERNANDO L. OLIVEIRA</td>
                            </tr>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse3361" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 336º | 20000020082</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse " id="collapse3361">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/30Z7tVm" target="_blank">25001011170005434</a></td>
                                <td>MULTILASER INDUSTRIAL LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2tIacpX" target="_blank">25001011170003023</a></td>
                                <td>SONY BRASIL LTDA / CENTER CELL COMERCIO E SERVIÇO SOROCABA LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2uB3ySi" target="_blank">25001006150006664</a></td>
                                <td>ENERGISA PARAIBA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href=" http://bit.ly/2Gpocr5" target="_blank">25001001160005187</a></td>
                                <td>ITAU UNIBANCO S.A.</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2TZFbZi" target="_blank">25001001160002545</a></td>
                                <td>CIELO S.A / MASTERCARD BRASIL LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36ouOAM" target="_blank">25001001150007955</a></td>
                                <td>BANCO BRADESCO SA/ CARREFOUR COMERCIO E INDUSTRIA LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse336" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 336º | 20000020060</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse " id="collapse336">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/38zw3yl" target="_blank">25001001170006143</a></td>
                                <td>CARREGOUR COMERCIO E INDUSTRIA LTDA/ASSURANT SEGURADORAS S.A</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ SANTOS FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36mfRz5" target="_blank">25001001170005950</a></td>
                                <td>LOJAS AMERICANAS S.A / MAPFRE SEGUROS GERAIS S.A / LENOVO TECNOLOGIA BRASIL LTDA
                                </td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ SANTOS FALCÃO </td>
                            </tr>


                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Guia seguinte -->
        <br>
        <!-- painel da sessão / guia -->
        <!-- Guia seguinte -->

        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse3372" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 337º | 20000020107</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse3372">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2t2MuEv" target="_blank">25001001160004930</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTDA/ MAGAZINE LUIZA S/A </td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2uDHqqk" target="_blank">25001001150006919</a></td>
                                <td>SKY BRASIL SERVICOS</td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2O1nuVt" target="_blank">25001001120012635</a></td>
                                <td>GROUPON SERVICOS DIGITAIS LTDA</td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>

                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->

        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse3371" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 337º | 20000020082</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse3371">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2uzYptJ" target="_blank">25001001150008916</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTDA</td>
                                <td>-</td>
                                <td>FERNANADO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2tTfD5l" target="_blank">25001001160007243</a></td>
                                <td>LG ELETRONICS DO BRASIL LTDA/ MAGAZINE LUIZA S/A / SDRVICE TECH COMERCIO E SERVICOS
                                    LTDA</td>
                                <td>-</td>
                                <td>FERNANDO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36wT1VE" target="_blank"> 25001006150007455</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTDA</td>
                                <td>-</td>
                                <td>EMANNUEL ARANTES LIMA SILVA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2Rvwswo" target="_blank">25001001160000625</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTDA/ C I L COMERCIO DE INFORMATICA LTDA/ GLOBAL
                                    EXPRESS</td>
                                <td>-</td>
                                <td>EMANNUEL ARANTES LIMA SILVA</td>
                            </tr>


                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse337" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 337º | 20000020060</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse337">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/36mqGBj" target="_blank">25001001170014163</a></td>
                                <td>BANCO BPI S.A</td>
                                <td>-</td>
                                <td>FERNANADO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/30NhuVq" target="_blank">25001001170010945</a></td>
                                <td>VOLKSWAGEM DO BRASIL/ MAIS CAR CMERCIDO DE VEICULOS PEÇAS E SERVIÇOS LTDA</td>
                                <td>-</td>
                                <td>FERNANADO LIMA DE OLIVEIRA </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/3aBq3XL" target="_blank"> 25001006150028413</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTDA</td>
                                <td>-</td>
                                <td>EMANNUEL ARANTES LIMA SILVA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2NTK1TU" target="_blank">25001001160032145</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTD/ N.CLAUDINO & CIA LTA/ TI REPRESENTAÇÃO COMERCIAL
                                    LTDA/ SERVICE TECH COMERCIO E SERVIÇOS LTDA-ME</td>
                                <td>-</td>
                                <td>EMANNUEL ARANTES LIMA SILVA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/30ONOqU" target="_blank"> 250010001160005829</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTD/ B2W- COMPANHIA GLOBAL DO VAREJO/ TI
                                    REPRESENTAÇÃO COMERCIAL LTDA/ SERVICE TECH COMERCIO E SERVIÇOS LTDA-ME</td>
                                <td>-</td>
                                <td>EMANNUEL ARANTES LIMA SILVA </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Guia seguinte -->
        <br>
        <!-- Guia seguinte -->

        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse3362" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 336º | 20000020107</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse3362">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2TZsFsL" target="_blank">25001006150009237</a></td>
                                <td>CASA BAHIA COMERCIAL LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2TZvGJr" target="_blank">25001001150009560</a></td>
                                <td>SAMSUNG ELETRONICA DA AMAZONIA LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ S. FALCÃO </td>
                            </tr>

                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- Guia seguinte -->
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse339" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 339º | 20000020060</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse339">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/36ml6Ps" target="_blank">25001007160006947</a></td>
                                <td>EMPRESA BRASILEIRA DE CORREIOS E TELÉGRAFOS</td>
                                <td>-</td>
                                <td>FERNANADO LIMA DE OLIVEIRA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/36u1dGg" target="_blank">250010007160031522</a></td>
                                <td>INSTITUTO DE DESENVOLVIMENTO SOCIAL DA PARAIBA</td>
                                <td>-</td>
                                <td>FERNANADO LIMA DE OLIVEIRA</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2Roq0Hb" target="_blank">250010001140015457</a></td>
                                <td>AVON COSMETICOS LTDA</td>
                                <td>-</td>
                                <td>FERNANADO LIMA DE OLIVEIRA</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Guia seguinte -->
        <br>
        <div class="panel panel-default">
            <div class="panel-heading" id="heading4">
                <h3 class="panel-title"><a class="collapsed" href="#collapse341" data-toggle="collapse"
                        data-parent="#accordion">SESSÃO 341º | 20000020060</a></h3>
            </div>
            <!-- painel colapsado - adicionar classe in para deixar expandido -->
            <div class="panel-collapse collapse" id="collapse341">
                <div class="panel-body">
                    <!-- Relação de processos -->
                    <table style="height:15px" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Processo</th>
                                <th>Recorrente</th>
                                <th>Advogado</th>
                                <th>Relator</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EXEMPLO - FAVOR PREENCHER COM OS DADOS DO PROCESSO -->
                            <tr>
                                <td><a href="http://bit.ly/2Ggrq0e" target="_blank">25001018170004261</a></td>
                                <td>TNL PCS S/A</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ SANTOS FALCÃO</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/2NTj3Mo" target="_blank">25001018160010104</a></td>
                                <td>SOCIEDADE DE ENSINO SUPERIOR ESTACIO DE SA LTDA</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ SANTOS FALCÃO</td>
                            </tr>
                            <tr>
                                <td><a href="http://bit.ly/37uSULG" target="_blank">25001001170016357</a></td>
                                <td>BRADESCARD ELO PARTICIPAÇÕES S.A</td>
                                <td>-</td>
                                <td>SÉRGIO JOSÉ SANTOS FALCÃO</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="padding-top: 2px; padding-bottom: 1px; line-height: 1; vertical-align: middle;"
                                    colspan="4">Fonte: Procon-PB 2ª Câmara Recursal</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Guia seguinte -->
        <br>
    </div>
</div>